In [118]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [119]:
data= pd.read_csv("TMDB_movie_dataset_v11.csv")

In [120]:
data.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205.0,Inception,8.364,34495.0,Released,7/15/2010,8.255328e+08,148.0,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336.0,Interstellar,8.417,32571.0,Released,11/5/2014,7.017292e+08,169.0,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155.0,The Dark Knight,8.512,30619.0,Released,7/16/2008,1.004558e+09,152.0,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995.0,Avatar,7.573,29815.0,Released,12/15/2009,2.923706e+09,162.0,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428.0,The Avengers,7.710,29166.0,Released,4/25/2012,1.518816e+09,143.0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [121]:
data.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [122]:
data=data[['id', 'title', 'overview', 'genres', 'keywords']]

In [123]:
data.head()

,id,title,overview,genres,keywords
0,27205.0,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc..."
1,157336.0,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,..."
2,155.0,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f..."
3,19995.0,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ..."
4,24428.0,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com..."

In [124]:
data['keywords']= data['overview']+data['genres']

In [125]:
data.head()

,id,title,overview,genres,keywords
0,27205.0,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","Cobb, a skilled thief who commits corporate es..."
1,157336.0,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction",The adventures of a group of explorers who mak...
2,155.0,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller",Batman raises the stakes in his war on crime. ...
3,19995.0,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","In the 22nd century, a paraplegic Marine is di..."
4,24428.0,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",When an unexpected enemy emerges and threatens...

In [126]:
data= data.drop(columns=['overview', 'genres'])

In [127]:
data.head()

,id,title,keywords
0,27205.0,Inception,"Cobb, a skilled thief who commits corporate es..."
1,157336.0,Interstellar,The adventures of a group of explorers who mak...
2,155.0,The Dark Knight,Batman raises the stakes in his war on crime. ...
3,19995.0,Avatar,"In the 22nd century, a paraplegic Marine is di..."
4,24428.0,The Avengers,When an unexpected enemy emerges and threatens...

In [128]:
data.isnull().sum()

id          1027608
title       1027608
keywords    1027613
dtype: int64

In [129]:
data = data.dropna(subset=['id', 'title', 'keywords'])
data = data[(data['id']!= '') & (data['title'] != '') & (data['keywords'] != '')]

In [130]:
data.isnull().sum()

id          0
title       0
keywords    0
dtype: int64

In [131]:
cv = CountVectorizer(max_features=10000, stop_words='english')

In [132]:
vector_data= cv.fit_transform(data['keywords'].values.astype('U')).toarray()

In [133]:
vector_data.shape

(9994, 10000)

In [134]:
similarity= cosine_similarity(vector_data)

In [135]:
similarity

array([[1.        , 0.14048787, 0.03009646, ..., 0.        , 0.        ,
        0.        ],
       [0.14048787, 1.        , 0.0338255 , ..., 0.        , 0.        ,
        0.        ],
       [0.03009646, 0.0338255 , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.14142136,
        0.06593805],
       [0.        , 0.        , 0.        , ..., 0.14142136, 1.        ,
        0.09325048],
       [0.        , 0.        , 0.        , ..., 0.06593805, 0.09325048,
        1.        ]])

In [136]:
def recommend(movie_title):
    index = data[data['title'] == movie_title].index[0]
    similar_movies = sorted(((i, similarity[index][i])
    for i in range(len(similarity[index]))), key=lambda x: x[1], reverse=True)[1:6]
    recommended_titles = [data.iloc[movie[0]].title for movie in similar_movies]
    return recommended_titles

In [137]:
recommended_movies= recommend("The Dark Knight")
for movie_title in recommended_movies:
    print(movie_title)

Batman: The Long Halloween, Part Two
The Dark Knight Rises
Batman: The Long Halloween, Part One
Batman
Ricochet

In [138]:
import pickle

In [139]:
pickle.dump(data, open('movie_list.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [140]:
pickle.load(open('similarity.pkl', 'rb'))

array([[1.        , 0.14048787, 0.03009646, ..., 0.        , 0.        ,
        0.        ],
       [0.14048787, 1.        , 0.0338255 , ..., 0.        , 0.        ,
        0.        ],
       [0.03009646, 0.0338255 , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.14142136,
        0.06593805],
       [0.        , 0.        , 0.        , ..., 0.14142136, 1.        ,
        0.09325048],
       [0.        , 0.        , 0.        , ..., 0.06593805, 0.09325048,
        1.        ]])